{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get wifi pwd</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="javascript:;">Get wifi pwd by Telnet</a></div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> 扫描结果 <span class="pull-right" id="total_label"></span></div>
                    <div class="panel-body">
                        {% if router_list %}
                            <table class="table">
                                <thead>
                                    <tr><th>IP地址</th><th>SSID</th><th>Wifi密码</th><th>地址</th><th width="80">运营商</th><th width="180">扫描时间</th></tr>
                                </thead>
                            {% for r in router_list %} 
                                <tr>
                                    <td>{{ r.ip }}<td>
                                    <td>{{ r.ssid }}<td>
                                    <td>{{ r.passwd }}<td>
                                    <td>{{ r.address }}<td>
                                    <td>{{ r.isp }}<td>
                                    <td>{{ r.createtime }}<td>
                                </tr>
                            {% endfor %}
                            </table>

                        {% else %}
                            <p>no data</p>

                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
